# Environment variables / secrets
.env
.flaskenv

# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.log
.pytest_cache/
.ruff_cache/

# Database backups
*.sql

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Migrations cache
migrations/__pycache__/

# Local databases
instance/*.db
instance/*.sqlite
instance/*.sqlite3
